@model Etrade.Entities.Models.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<hr />
<form method="post">
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(x=>x.UsernameOrEmail)
        </div>
        <div class="col-md-9">
@*            @Html.EditorFor(x=>x.UsernameOrEmail)*@
            <input asp-for="UsernameOrEmail" type="text" placeholder="Username Or Email" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(x=>x.Password)
        </div>
        <div class="col-md-9">
            @Html.EditorFor(x=>x.Password)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(x=>x.RememberMe)
        </div>
        <div class="col-md-9">
            @Html.CheckBoxFor(x=>x.RememberMe)
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>