@model Etrade.Entities.Models.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<hr/>
<form method="post">
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(x=>x.Name)
        </div>
        <div class="col-md-9">
            @Html.EditorFor(x=>x.Name)
        </div>
    </div>
      <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(x=>x.Surname)
        </div>
        <div class="col-md-9">
            @Html.EditorFor(x=>x.Surname)
        </div>
    </div>
      <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(x=>x.Username)
        </div>
        <div class="col-md-9">
            @Html.EditorFor(x=>x.Username)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(x=>x.Email)
        </div>
        <div class="col-md-9">
            @Html.EditorFor(x=>x.Email)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(x=>x.Password)
        </div>
        <div class="col-md-9">
            @Html.EditorFor(x=>x.Password)
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>

